{% extends "base.html" %}

{% block title %}Bus Observatory{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">The Bus Observatory</h1>
        <p>The Bus Observatory is a public archive of real-time data on vehicles and service from transit systems around the world. This free service is provided by the Jacobs Urban Tech Hub at Cornell Tech for non-commercial use, under a  <a href="http://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display: inline-block;">CC BY-NC 4.0 license</a>. Please review the license terms before retrieving data.</p>
      
      <p><a class="btn btn-primary btn-lg" href="#datasets" role="button">Explore Metadata &raquo;</a> <a class="btn btn-primary btn-lg" href="#quickstart" role="button">Get Data &raquo;</a></p>
    </div>
    </div>

    <div class="container">

      <!-- Example row of columns -->
      <div class="row" id="datasets">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/9/98/MTA_NYC_Bus_M42_bus_at_5th_Ave_%26_42nd_St.jpg" alt="A New York City bus.">
            <div class="card-body">
              <h5 class="card-title">New York City Transit</h5>
              <p class="card-text">Our flagship data set, with minute-by-minute historical coverage of the MTA's SIRI and GTFS-RT Bus Time feeds going back as far as 2017.</p>
              <a href="/nyct" class="btn btn-primary">Docs</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/1/1d/NJTransitRTSLegend.jpg?20060713050138" alt="A New Jersey Transit bus.">
            <div class="card-body">
              <h5 class="card-title">NJTransit</h5>
              <p class="card-text">Statewide tracking of NJTransit bus service from from April 5, 2021.</p>
              <a href="/njtransit" class="btn btn-primary">Docs</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Buses_nocturnos_EMT_Madrid.JPG/640px-Buses_nocturnos_EMT_Madrid.JPG" alt="Buses at night lined up.">
            <div class="card-body">
              <h5 class="card-title">Your City</h5>
              <p class="card-text">We will be adding new cities in the future. Let us know where to find your city's bus transit data feed.</p>
              <a href="https://forms.gle/NXg9hU7fSPzTt3fy7" class="btn btn-primary">Suggest A Feed</a>
            </div>
          </div>
        </div>
      </div> <!-- /row -->

      <!--<div class="row">
        <div class="col-md-12">
          <h2>What's Here'</h2>
          <p>Lores mumps dolor sit mate, nominal id xiv. Dec ore offend it man re, est no dolor es explicate, re dicta elect ram demo critic duo. Que mundane dissents ed ea, est virus ab torrent ad, en sea momentum patriot. Erato dolor em omit tam quo no, per leg ere argument um re. Romanesque acclimates investiture.</p>
        </div>
      </div> --> <!-- /row -->

      <hr>

      <div class="row"> <!-- INSERT MARKDOWN from pages/index.md -->
        <div class="col-md-12" id="quickstart">
          {{markdown.text|safe}}
        </div>
      </div> <!-- /row -->

    </div> <!-- /container -->

  </main>


{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}




