{% extends "base.html" %}

{% block title %}Bus Observatory{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">The Bus Observatory</h1>
        <p>The Bus Observatory is a free public archive of real-time data on vehicles and service from transit systems around the world. This service is provided by the Jacobs Urban Tech Hub at Cornell Tech for non-commercial scientific and educational use.</p>
        <p><a class="btn btn-primary btn-lg" href="#license" role="button">License info &raquo;</a></p>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <h2>Quickstart</h2>
          <h4>Quickstart</h4>
          <ul>
            <li>1. Get an API token</li>
            <li>2. Get some data</li>
          </ul>
          <p>Lores mumps dolor sit mate, nominal id xiv. Dec ore offend it man re, est no dolor es explicate, re dicta elect ram demo critic duo. Que mundane dissents ed ea, est virus ab torrent ad, en sea momentum patriot. Erato dolor em omit tam quo no, per leg ere argument um re. Romanesque acclimates investiture.</p>
        </div>
      </div> <!-- /row -->

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/9/98/MTA_NYC_Bus_M42_bus_at_5th_Ave_%26_42nd_St.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">New York City Transit (SIRI)</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/9/98/MTA_NYC_Bus_M42_bus_at_5th_Ave_%26_42nd_St.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">New York City Transit (GTFS-RT)</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/9/98/MTA_NYC_Bus_M42_bus_at_5th_Ave_%26_42nd_St.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">NJTransit</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div> <!-- /row -->

      <!-- Example row of one column -->
      <div class="row">
        <div class="col-md-12">
          <h2>A 12-Column Row</h2>
          <p>Lores mumps dolor sit mate, nominal id xiv. Dec ore offend it man re, est no dolor es explicate, re dicta elect ram demo critic duo. Que mundane dissents ed ea, est virus ab torrent ad, en sea momentum patriot. Erato dolor em omit tam quo no, per leg ere argument um re. Romanesque acclimates investiture. Lores mumps dolor sit mate, nominal id xiv. Dec ore offend it man re, est no dolor es explicate, re dicta elect ram demo critic duo. Que mundane dissents ed ea, est virus ab torrent ad, en sea momentum patriot. Erato dolor em omit tam quo no, per leg ere argument um re. Romanesque acclimates investiture.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div> <!-- /row -->  

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>New York City Transit</h2>
          <p>Our largest longitudinal data set, scraped from the MTA Bus Time SIRI feed, goes back to October 15, 2020. We also started scraping the GTFS-RT feed in May 2022.</p>
          <p><a class="btn btn-secondary" href="/nyct" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>NJTransit</h2>
          <p>More than a years' worth of data covering every bus movement statewide across New Jersey, from April 5, 2021 through present, once per minute.</p>
          <p><a class="btn btn-secondary" href="/njtransit" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Your City!</h2>
          <p>Lores mumps dolor sit mate, nominal id xiv. Dec ore offend it man re, est no dolor es explicate, re dicta elect ram demo critic duo. Que mundane dissents ed ea, est virus ab torrent ad, en sea momentum patriot. Erato dolor em omit tam quo no, per leg ere argument um re. Romanesque acclimates investiture.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div> <!-- /row -->

      <hr>

      <div class="row">
        <div class="col-md-12">
          <h2>Markdown Block</h2>
          
          {{markdown.text|safe}}

          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div> <!-- /row -->

    </div> <!-- /container -->

  </main>

  <footer class="container">
    <p>&copy; Company 2017-2018</p>
  </footer>


{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}




