<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">

        <!-- Home Link-->
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <!-- Feed List-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Feeds</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            {% for system_id, system_info in config.items() %}
              <a class="dropdown-item" href="/{{system_id}}/schema">{{system_info.system_name}}</a>
            {% endfor %}
          </div>
        </li>

        <!-- Swagger Link -->
        <li class="nav-item">
          <a class="nav-link" href="/docs">Try It</a>
        </li>

      </ul>

      <!-- Version # -->
      <a class="navbar-brand" href="#">v1.1</a> 

    </div>
  </nav>